.contact-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  .contact-img {
    padding: 0 20px;
    img {
      height: inherit;
    }
  }
  .contact-text {
    padding: 0 20px;
  }
}

.headline {
  font-size: 25px;
}
.icons i {
  font-size: 25px;
}
i:nth-child(2) {
  padding: 0 10px;
}
